<!doctype html>
<html lang="en">

{% include head.html %}

<body>

{% include navbar.html %}  

<!-----Content----->
<div id="mainpage">
{{ content }}
</div>

{% if page.title == 'Home' %}
<script>
  const maxSize = 10;
  let idx = 0;
  let curIdx = Math.floor(Math.random() * 10);
  //console.log(`curIdx=${curIdx}, 페이지번호=${curIdx+1}`);
  document.querySelector('.slider_container').style.transform = `translate(${-curIdx*100}vw)`;
  idx = curIdx ;

  document.querySelector('#btn_right').addEventListener('click', function() {
    if(idx < maxSize - 1) {
      idx++;
      document.querySelector('.slider_container').style.transform = `translate(${-idx*100}vw)`;
      // console.log(`idx=${idx}`);
      // console.log(-idx*100);
    }
  });
  document.querySelector('#btn_left').addEventListener('click', function() {
    if(idx > 0) {
      idx--;
      // console.log(`idx=${idx}`);
      // console.log(-idx*100);
      document.querySelector('.slider_container').style.transform = `translate(${-idx*100}vw)`;
    }
  });

  /*
  * Patterns in Nature
  * https://nearbynature.fwni.org/2018/10/23/patterns-in-nature/
  * https://www.smithsonianmag.com/science-nature/science-behind-natures-patterns-180959033/
  * https://www.nationalgeographic.com/photography/article/patterns-flora
  * https://unsplash.com/ko/%EC%BB%AC%EB%A0%89%EC%85%98/1056500/nature-patterns
  *
  * 비전보드 만들기
  * https://ko.wikihow.com/%EB%B9%84%EC%A0%84%EB%B3%B4%EB%93%9C-%EB%A7%8C%EB%93%9C%EB%8A%94-%EB%B0%A9%EB%B2%95
  * */
</script>
{% endif %}

{% include footer.html %}

</body>
</html>
